.offer{
    background-color: $c-light-blue;
    padding: toVw(110px) 0 toVw(110px) 0;
    &__wrapper{
        width: toVw(1200px);
        margin: auto;
        @include align-items-center();
        @include media(phone-only){
            flex-direction: column;
            width: 300px;
            gap: 20px;
        }
        &__content{
            width: toVw(525px);
            @include media(phone-only){
                width: 100%;
                text-align: center;
            }
            &__title{
                margin-bottom: toVw(45px);
                @include media(phone-only){
                    margin-bottom: 30px;
                }
                h2{
                    margin-top: toVw(18px);
                    margin-bottom: toVw(18px);
                    @include media(phone-only){
                        margin-top: 15px;
                        margin-bottom: 15px;
                    }
                }
            }
            &__details{
                @include flex-between();
                width: toVw(496px);
                @include media(phone-only){
                    margin: auto;
                    width: 300px;
                }
                .contacts-box{
                    background-color: $c-white;
                    width: toVw(302px);
                    border: toVw(2px) solid $c-bell-blue;
                    padding: toVw(33px) toVw(32px) toVw(23px) toVw(82px);
                    @include media(phone-only){
                        width: 190px;
                        border: 1px solid $c-bell-blue;
                        padding: 15px 22px 10px 42px;
                    }
                    .contact-details{
                        margin-bottom: toVw(15px);
                        font-family: 'Manrope';
                        font-size: toVw(15px);
                        line-height: toVw(22px);
                        position: relative;
                        @include media(phone-only){
                            font-size: 12px;
                            line-height: 15px;
                            text-align: start;
                        }
                        &::before{
                            @include after();
                            width: toVw(30px);
                            height: toVw(6px);
                            @include bg-default();
                            background-image: url(../imgs/three-dots.svg);
                            border: none;
                            left: toVw(-44px);
                            top: toVw(9px);
                            @include media(phone-only){
                                width: 20px;
                                height: 6px;
                                left: -27px;
                                top: 4px;
                                background-size: contain;
                            }
                        }
                    }
                }
                .discount-box{
                    background-color: #1E2C30;
                    text-align: center;
                    width: toVw(194px);
                    padding-top: toVw(22px);
                    @include media(phone-only){
                        width: 110px;
                    }
                    .get-flat{
                        font-family: 'Manrope';
                        font-size: toVw(15px);
                        color: $c-white;
                        text-transform: uppercase;
                        @include media(phone-only){
                            font-size: 12px;
                        }
                    }
                    .percent{
                        font-family: 'Manrope';
                        font-size: toVw(65px);
                        color: $c-white;
                        @include media(phone-only){
                            font-size: 30px;
                        }
                    }
                    .discount{
                        font-family: 'Manrope';
                        font-size: toVw(18px);
                        color: $c-white;
                        @include media(phone-only){
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        &__form{
            box-shadow: toVw(1px) 0 toVw(18px) 0 rgba(0, 0, 0, 0.2);
            width: toVw(555px);
            background-color: $c-white;
            padding: toVw(70px) 0 toVw(65px) 0;
            @include media(phone-only){
                width: 250px;
                padding: 30px 0 25px 0;
            }
            &__container{
                width: toVw(455px);
                margin: auto;
                @include media(phone-only){
                    width: 200px;
                }
                .input{
                    width: 100%;
                    height: toVw(65px);
                    border: toVw(2px) solid $c-bell-blue;
                    margin-bottom: toVw(20px);
                    font-family: 'Manrope';
                    font-size: toVw(18px);
                    color: $c-brown;
                    padding-left: toVw(50px);
                    @include media(phone-only){
                        height: 30px;
                        margin-bottom: 15px;
                        font-size: 10px;
                        border: 1px solid $c-bell-blue;
                        padding-left: 30px;
                    }
                }
                .name{
                    background: url(../imgs/icon-for-name-input.svg);
                    @include bg-default();
                    background-size: toVw(41px) toVw(47px);
                    background-position-x: 0;
                    @include media(phone-only){
                        background-size: 19px 25px;
                        background-position-x: 5px;
                    }
                }
                .email{
                    background: url(../imgs/icon-for-email-input.svg);
                    @include bg-default();
                    background-size: toVw(41px) toVw(47px);
                    background-position-x: 0;
                    @include media(phone-only){
                        background-size: 19px 25px;
                        background-position-x: 5px;
                    }
                }
                .number{
                    background: url(../imgs/icon-for-number-input.svg);
                    @include bg-default();
                    background-size: toVw(41px) toVw(47px);
                    background-position-x: 0;
                    @include media(phone-only){
                        background-size: 19px 25px;
                        background-position-x: 5px;
                    }
                }
                .date{
                    background: url(../imgs/icon-for-date-input.svg);
                    @include bg-default();
                    background-size: toVw(41px) toVw(47px);
                    background-position-x: 0;
                    @include media(phone-only){
                        background-size: 19px 25px;
                        background-position-x: 5px;
                    }
                    
                }
                .comment{
                    height: toVw(130px);
                    background: url(../imgs/icon-for-comment-input.svg);
                    @include bg-default();
                    background-size: toVw(41px) toVw(47px);
                    background-position-x: 0;
                    background-position-y: 0;
                    padding-top: toVw(20px);
                    padding-right: toVw(20px);
                    @include media(phone-only){
                        background-size: 19px 25px;
                        background-position-x: 5px;
                        background-position-y: 5px;
                        height: 70px;
                        padding-top: 10px;
                        padding-right: 5px;
                    }
                }
                .btn{
                    width: 100%;
                    height: toVw(65px);
                    @include media(phone-only){
                        height: 40px;
                    }
                }
            }
        }
    }
}