.reviews{
    background-color: $c-light-blue;
    padding: toVw(100px) toVw(120px) toVw(130px) toVw(120px);
    @include media(phone-only){
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__wrapper{
        width: toVw(1200px);
        @include media(phone-only){
            width: 300px;
            margin: auto;
        }
        &__title{
            text-align: center;
            .highlights{
                margin-bottom: toVw(24px);
            }
        }
        &__content{
            width: 100%;
            gap: toVw(20px);
            margin-top: toVw(40px);
            @include flex-between();
            @include media(phone-only){
                gap: 30px;
                margin-top: 20px;
                align-items: center;
                flex-direction: column;
            }
            &__box{
                width: toVw(590px);
                @include media(phone-only){
                    width: 100%;
                }
                .text{
                    background-color: $c-white;
                    padding: toVw(33px) toVw(47px) toVw(25px) toVw(30px);
                    @include media(phone-only){
                        padding: 15px 20px 15px 15px;
                    }
                    p{
                        color: $c-dark;
                        font-size: toVw(19px);
                        font-family: 'Manrope';
                        line-height: toVw(32px);
                        @include media(phone-only){
                            font-size: 12px;
                            line-height: 22px;
                        }
                    }
                }
                .customer-info{
                    position: relative;
                    padding-top: toVw(22px);
                    padding-left: toVw(30px);
                    background-color: #1E2C30;
                    padding-bottom: toVw(22px);
                    &::after{
                        top: toVw(33px);
                        @include after();
                        width: toVw(71px);
                        right: toVw(30px);
                        height: toVw(56px);
                        position: absolute;
                        @include bg-default();
                        background-image: url(../imgs/customer-info-block-design.svg);
                        @include media(phone-only){
                            top: 30px;
                            width: 41px;
                            right: 20px;
                            height: 26px;
                        }
                    }
                    &__wrapper{
                        width: toVw(243px);
                        @include align-items-center();
                        @include media(phone-only){
                            width: 190px;
                        }
                        &__photo{
                            img{
                                width: toVw(75px);
                                height: toVw(75px);
                                @include media(phone-only){
                                    width: 70px;
                                    height: 70px;
                                }
                            }
                        }
                        &__details{
                            .name{
                                color: $c-white;
                                font-size: toVw(20px);
                                margin-top: toVw(3px);
                                margin-bottom: toVw(7px);
                                font-family: 'Playfair Display';
                                @include media(phone-only){
                                    margin-top: 0;
                                    font-size: 16px;
                                    margin-bottom: 3px;
                                }
                            }
                            .country{
                                color: $c-white;
                                font-size: toVw(14px);
                                font-family: 'Manrope';
                                @include media(phone-only){
                                    font-size: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}